<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <title>系列鏡框</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <nav class="nav">
      <ul class="menu df container">
        <li class="menu_item "><a class="medium_title border_bottom" href="product.html">OPTICAL</a></li>
        <li class="menu_item"><a class="medium_title" href="sunglasses.html">SUNGLASSES</a></li>
        <li class="menu_item"><a class="medium_title" href="#">FUNCTIONAL</a></li>
      </ul>
      <div class="df">
        <div class="nav_img glasses"></div>
        <div class="nav_img woman"></div>
      </div>
    </nav>
    <main class="product_first_page">
      <div class="container">
        <h2 class="medium_title ">Celluloid Combi</h2>
        <h2 class="medium_title subtitle">賽璐珞鈦金屬混合鏡框</h2>
        <ul class="card df">
          <li class="card_item">
            <img src="../assets/images/product-1.png" alt="BJ41600S">
            <div class="card_text">
              <div class="content df">
                <h3 class="name">BJ41600S</h3>
                <p class="price">NTD3,490</p>
              </div>
              <div class="df">
                <div class="color_box brown"></div>
                <div class="color_box red"></div>
              </div>
            </div>
          </li>

          <li class="card_item">
            <img src="../assets/images/product-2.png" alt="BJ41600S">
            <div class="card_text">
              <div class="content df">
                <h3 class="name">BJ41600S</h3>
                <p class="price">NTD3,490</p>
              </div>
              <div class="df">
                <div class="color_box brown"></div>
                <div class="color_box red"></div>
              </div>
            </div>
          </li>
          <li class="card_item">
            <img src="../assets/images/product-3.png" alt="BJ41600S">
            <div class="card_text">
              <div class="content df">
                <h3 class="name">BJ41600S</h3>
                <p class="price">NTD3,490</p>
              </div>
              <div class="df">
                <div class="color_box brown"></div>
                <div class="color_box red"></div>
              </div>
            </div>
          </li>
          <li class="card_item">
            <img src="../assets/images/product-4.png" alt="BJ41600S">
            <div class="card_text">
              <div class="content df">
                <h3 class="name">BJ41600S</h3>
                <p class="price">NTD3,490</p>
              </div>
              <div class="df">
                <div class="color_box brown"></div>
                <div class="color_box red"></div>
              </div>
            </div>
          </li>
          <li class="card_item">
            <img src="../assets/images/product-5.png" alt="BJ41600S">
            <div class="card_text">
              <div class="content df">
                <h3 class="name">BJ41600S</h3>
                <p class="price">NTD3,490</p>
              </div>
              <div class="df">
                <div class="color_box brown"></div>
                <div class="color_box red"></div>
              </div>
            </div>
          </li>
          <li class="card_item">
            <img src="../assets/images/product-6.png" alt="BJ41600S">
            <div class="card_text">
              <div class="content df">
                <h3 class="name">BJ41600S</h3>
                <p class="price">NTD3,490</p>
              </div>
              <div class="df">
                <div class="color_box brown"></div>
                <div class="color_box red"></div>
              </div>
            </div>
          </li>
          <li class="card_item">
            <img src="../assets/images/product-1.png" alt="BJ41600S">
            <div class="card_text">
              <div class="content df">
                <h3 class="name">BJ41600S</h3>
                <p class="price">NTD3,490</p>
              </div>
              <div class="df">
                <div class="color_box brown"></div>
                <div class="color_box red"></div>
              </div>
            </div>
          </li>
          <li class="card_item">
            <img src="../assets/images/product-2.png" alt="BJ41600S">
            <div class="card_text">
              <div class="content df">
                <h3 class="name">BJ41600S</h3>
                <p class="price">NTD3,490</p>
              </div>
              <div class="df">
                <div class="color_box brown"></div>
                <div class="color_box red"></div>
              </div>
            </div>
          </li>
          <li class="card_item">
            <img src="../assets/images/product-3.png" alt="BJ41600S">
            <div class="card_text">
              <div class="content df">
                <h3 class="name">BJ41600S</h3>
                <p class="price">NTD3,490</p>
              </div>
              <div class="df">
                <div class="color_box brown"></div>
                <div class="color_box red"></div>
              </div>
            </div>
          </li>
          <li class="card_item">
            <img src="../assets/images/product-4.png" alt="BJ41600S">
            <div class="card_text">
              <div class="content df">
                <h3 class="name">BJ41600S</h3>
                <p class="price">NTD3,490</p>
              </div>
              <div class="df">
                <div class="color_box brown"></div>
                <div class="color_box red"></div>
              </div>
            </div>
          </li>
          <li class="card_item">
            <img src="../assets/images/product-5.png" alt="BJ41600S">
            <div class="card_text">
              <div class="content df">
                <h3 class="name">BJ41600S</h3>
                <p class="price">NTD3,490</p>
              </div>
              <div class="df">
                <div class="color_box brown"></div>
                <div class="color_box red"></div>
              </div>
            </div>
          </li>
          <li class="card_item">
            <img src="../assets/images/product-6.png" alt="BJ41600S">
            <div class="card_text">
              <div class="content df">
                <h3 class="name">BJ41600S</h3>
                <p class="price">NTD3,490</p>
              </div>
              <div class="df">
                <div class="color_box brown"></div>
                <div class="color_box red"></div>
              </div>
            </div>
          </li>
        </ul>

        <ul class="pagination df">
          <li><a href="#" class="active">上一頁</a></li>
          <li><a href="#" class="page">1</a></li>
          <li><a href="#" class="page dark">2</a></li>
          <li><a href="#" class="page">3</a></li>
          <li><a href="#" class="page">4</a></li>
          <li><a href="#" class="page">5</a></li>
          <li><a href="#" class="active next">下一頁</a></li>
        </ul>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>